Package: kadeploy-client
Version: 3.0
Section: base
Priority: optional
Architecture: all
Depends: libmysql-ruby,libopenssl-ruby,libneedle-ruby1.8,libnet-ssh-ruby1.8,libtermios-ruby1.8,ruby1.8,bittorrent,kadeploy-common
Maintainer: Emmanuel Jeanvoine <emmanuel.jeanvoine@inria.fr>
Description: Kadeploy: the cluster deployment tool - client part
